<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.TicketOrderMapper">
  <resultMap id="BaseResultMap" type="com.kaishengit.entity.TicketOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="piao_num" jdbcType="VARCHAR" property="piaoNum" />
    <result column="piao_order_price" jdbcType="DECIMAL" property="piaoOrderPrice" />
    <result column="creatr_time" jdbcType="TIMESTAMP" property="creatrTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="piao_id" jdbcType="INTEGER" property="piaoId" />
    <result column="custom_id" jdbcType="INTEGER" property="customId" />
    <result column="store_account_id" jdbcType="INTEGER" property="storeAccountId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, piao_num, piao_order_price, creatr_time, update_time, piao_id, custom_id, store_account_id
  </sql>
  <select id="selectByExample" parameterType="com.kaishengit.entity.TicketOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from piao_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from piao_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from piao_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kaishengit.entity.TicketOrderExample">
    delete from piao_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kaishengit.entity.TicketOrder">
    insert into piao_order (id, piao_num, piao_order_price, 
      creatr_time, update_time, piao_id, 
      custom_id, store_account_id)
    values (#{id,jdbcType=INTEGER}, #{piaoNum,jdbcType=VARCHAR}, #{piaoOrderPrice,jdbcType=DECIMAL}, 
      #{creatrTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{piaoId,jdbcType=INTEGER}, 
      #{customId,jdbcType=INTEGER}, #{storeAccountId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kaishengit.entity.TicketOrder">
    insert into piao_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="piaoNum != null">
        piao_num,
      </if>
      <if test="piaoOrderPrice != null">
        piao_order_price,
      </if>
      <if test="creatrTime != null">
        creatr_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="piaoId != null">
        piao_id,
      </if>
      <if test="customId != null">
        custom_id,
      </if>
      <if test="storeAccountId != null">
        store_account_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="piaoNum != null">
        #{piaoNum,jdbcType=VARCHAR},
      </if>
      <if test="piaoOrderPrice != null">
        #{piaoOrderPrice,jdbcType=DECIMAL},
      </if>
      <if test="creatrTime != null">
        #{creatrTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="piaoId != null">
        #{piaoId,jdbcType=INTEGER},
      </if>
      <if test="customId != null">
        #{customId,jdbcType=INTEGER},
      </if>
      <if test="storeAccountId != null">
        #{storeAccountId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kaishengit.entity.TicketOrderExample" resultType="java.lang.Long">
    select count(*) from piao_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update piao_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.piaoNum != null">
        piao_num = #{record.piaoNum,jdbcType=VARCHAR},
      </if>
      <if test="record.piaoOrderPrice != null">
        piao_order_price = #{record.piaoOrderPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.creatrTime != null">
        creatr_time = #{record.creatrTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.piaoId != null">
        piao_id = #{record.piaoId,jdbcType=INTEGER},
      </if>
      <if test="record.customId != null">
        custom_id = #{record.customId,jdbcType=INTEGER},
      </if>
      <if test="record.storeAccountId != null">
        store_account_id = #{record.storeAccountId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update piao_order
    set id = #{record.id,jdbcType=INTEGER},
      piao_num = #{record.piaoNum,jdbcType=VARCHAR},
      piao_order_price = #{record.piaoOrderPrice,jdbcType=DECIMAL},
      creatr_time = #{record.creatrTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      piao_id = #{record.piaoId,jdbcType=INTEGER},
      custom_id = #{record.customId,jdbcType=INTEGER},
      store_account_id = #{record.storeAccountId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kaishengit.entity.TicketOrder">
    update piao_order
    <set>
      <if test="piaoNum != null">
        piao_num = #{piaoNum,jdbcType=VARCHAR},
      </if>
      <if test="piaoOrderPrice != null">
        piao_order_price = #{piaoOrderPrice,jdbcType=DECIMAL},
      </if>
      <if test="creatrTime != null">
        creatr_time = #{creatrTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="piaoId != null">
        piao_id = #{piaoId,jdbcType=INTEGER},
      </if>
      <if test="customId != null">
        custom_id = #{customId,jdbcType=INTEGER},
      </if>
      <if test="storeAccountId != null">
        store_account_id = #{storeAccountId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kaishengit.entity.TicketOrder">
    update piao_order
    set piao_num = #{piaoNum,jdbcType=VARCHAR},
      piao_order_price = #{piaoOrderPrice,jdbcType=DECIMAL},
      creatr_time = #{creatrTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      piao_id = #{piaoId,jdbcType=INTEGER},
      custom_id = #{customId,jdbcType=INTEGER},
      store_account_id = #{storeAccountId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>